[submodule "src/unitree_ros"]
	path = src/unitree_ros
	url = https://github.com/unitreerobotics/unitree_ros.git
[submodule "src/unitree_guide"]
	path = src/unitree_guide
	url = https://github.com/unitreerobotics/unitree_guide.git
[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
